
<footer>
    <div class="about">

            <div class="col-sm-5 social" style="
    padding-right: 0px;
">
                <ul style="margin-top: 8px;padding-left: 0px;/* padding-top: 8px; */margin-bottom: 8px;">
                    <li>
                        <a href="https://github.com/jfm-data/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="https://jfm-data.github.io/contact" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="https://twitter.com/defiantdata" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>

                </ul>
            </div>
                    <div class="about__text">
                <p style="
                     margin-bottom: 10px;
                     margin-top: 10px;
                     line-height: 3em;
                    ">
                    Copyright © 2022 defiantdata inc.
                </p>
            </div>
        </div>
    
</footer>

