

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<body>
<div class="top-container">



</div>
<header class="header-outer">
  <div class="header-inner responsive-wrapper">
    <div class="header-logo">
      <img src="https://raw.githubusercontent.com/jfm-data/jfm-data.github.io/master/images/defiantball200.png" style="width:190px" id='Logo'>
    </div>
    <nav class="header-navigation">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Blog</a>
      <a href="#">Contact</a>
      <button>Menu</button>
    </nav>
  </div>
</header>





<script>
window.onscroll = function() {
  growShrinkLogo()
};

function growShrinkLogo() {
  var Logo = document.getElementById("Logo")
  if (document.body.scrollTop > 70 || document.documentElement.scrollTop > 70) {
    Logo.style.width = '80px';
  } else {
    Logo.style.width = '180px';
  }
}
</script>





</body>

